.btn {
	
	&-link {
		padding: (@global-spacing) (@global-spacing * 3) !important;
		background-color: @secondary;
		text-decoration: none;
		color: @text-white !important;
		.prefix(transition, all 500ms ease-in-out);
		
		&:active,
		&:focus,
		&:visited {
			background-color: @secondary;
		}

		&:hover {
			background-color: @secondary-dark;
			text-decoration: none;
		}
	}
}